<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="command">alias</ansi>

The <ansi fg="command">alias</ansi> command lists and sets aliases

<ansi fg="yellow">Usage: </ansi>

  <ansi fg="command">alias</ansi> - List all aliases, including system defaults
  
