<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="command">character</ansi>

The <ansi fg="command">character</ansi> command can only be used in special rooms that indicate it is
supported.

When used, you can re-create your current character, create an alt character (if enabled), or switch 
between alt characters.
