<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="skill">encumbrance</ansi>

When you carry more objects than your strength permits, you become encumbered.

Check your inventory to see how many objects you can carry.

When encumbered, you will quickly become tired when moving and take longer to recover.
