<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="command">password</ansi>

The <ansi fg="command">password</ansi> command allows you to change your password.

Type ansi fg="command">password</ansi> and answer the prompts to make the change.
