<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="command">time</ansi>

The <ansi fg="command">time</ansi> command gives you the current time of day.

In-game time may pass faster (or slower) than real world time, so checking the time might be useful.

Day and Night fall at specific times of day.

You can also add the time of day to your in-game prompt. See <ansi fg="command">help prompt</ansi>

