.vscode
private-notes.txt
_datafiles/**/users/*
_datafiles/**/plugin-data/*
**/config-overrides.yaml
**/.roundcount
vendor/
server.crt
server.key
__debug*
mud.sh
WillowdaleMUD
WillowdaleMUD.pid
_datafiles/willowdale-config.yaml
logs/*
*.DS_Store