<form>

    <input type="hidden" name="itemid" value="{{ .itemSpec.ItemId }}">

    <hr />
    <h3>Appearance</h3>

    <div class="row">
        <div class="form-group col-sm">
            <label for="name">Name</label>
            <input type="text" class="form-control form-control-sm" id="name" aria-describedby="name-help" value="{{ .raceInfo.Name }}">
            <small id="name-help" class="form-text text-muted">Name of the race?</small>
        </div>

        <div class="form-group col-sm">
            <label for="description">Description</label>
            <textarea class="form-control form-control-sm" id="description" aria-describedby="description-help">{{ .raceInfo.Description }}</textarea>
            <small id="description-help" class="form-text text-muted">What players see when looking at this race.</small>
        </div>

        <div class="form-group col-sm">
            <label for="type">Size</label>
            <select class="form-control form-control-sm" name="type" id="type" aria-describedby="size-help"  rows="10">
                <option value="small" {{ if eq .raceInfo.Size "small" }}SELECTED{{end}}>small</option>
                <option value="medium" {{ if eq .raceInfo.Size "medium" }}SELECTED{{end}}>medium</option>
                <option value="large" {{ if eq .raceInfo.Size "large" }}SELECTED{{end}}>large</option>
            </select>
            <small id="size-help" class="form-text text-muted">Size of this race?</small>
        </div>

    </div>

    <div class="row">
        <div class="form-group col-sm">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="true" name="selectable" id="selectable" {{ if .raceInfo.Selectable }}checked{{end}}>
                <label class="form-check-label" for="selectable">
                    Selectable
                </label>
            </div>
        </div>

        <div class="form-group col-sm">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="true" name="tameable" id="tameable" {{ if .raceInfo.Tameable }}checked{{end}}>
                <label class="form-check-label" for="tameable">
                    Can be tamed
                </label>
            </div>
        </div>

        <div class="form-group col-sm">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="true" name="knowsfirstaid" id="knowsfirstaid" {{ if .raceInfo.KnowsFirstAid }}checked{{end}}>
                <label class="form-check-label" for="knowsfirstaid">
                    Knows First Aid
                </label>
            </div>
        </div>
    </div>


    <hr />
    <h3>Base Stats</h3>


    <div class="row">

        <div class="input-group col">
            <div class="input-group-prepend w-50">
                <span class="input-group-text w-100" id="stats-strength">Strength</span>
            </div>
            <input type="text" name="stats[strength]" class="form-control" value="{{.raceInfo.Stats.Strength.Base}}">
        </div>

        <div class="input-group col">
            <div class="input-group-prepend w-50">
                <span class="input-group-text w-100" id="stats-speed">Speed</span>
            </div>
            <input type="text" name="stats[speed]" class="form-control" value="{{.raceInfo.Stats.Speed.Base}}">
        </div>

        <div class="input-group col">
            <div class="input-group-prepend w-50">
                <span class="input-group-text w-100" id="stats-smarts">Smarts</span>
            </div>
            <input type="text" name="stats[smarts]" class="form-control" value="{{.raceInfo.Stats.Smarts.Base}}">
        </div>
        <div class="input-group col">
            <div class="input-group-prepend w-50">
                <span class="input-group-text w-100" id="stats-vitality">Vitality</span>
            </div>
            <input type="text" name="stats[vitality]" class="form-control" value="{{.raceInfo.Stats.Vitality.Base}}">
        </div>

        <div class="input-group col">
            <div class="input-group-prepend w-50">
                <span class="input-group-text w-100" id="stats-mysticism">Mysticism</span>
            </div>
            <input type="text" name="stats[mysticism]" class="form-control" value="{{.raceInfo.Stats.Mysticism.Base}}">
        </div>

        <div class="input-group col">
            <div class="input-group-prepend w-50">
                <span class="input-group-text w-100" id="stats-perception">Perception</span>
            </div>
            <input type="text" name="stats[perception]" class="form-control" value="{{.raceInfo.Stats.Perception.Base}}">
        </div>

    </div>

    <hr />
    <h3>Combat</h3>
    
    <div class="row">
        <div class="form-group col-sm">
            <label for="unarmedname">Unarmed Name</label>
            <input type="text" class="form-control form-control-sm" id="unarmedname" aria-describedby="unarmedname-help" value="{{ .raceInfo.UnarmedName }}">
            <small id="unarmedname-help" class="form-text text-muted">"MobX attacks PlayerY with their *THIS*"</small>
        </div>

        <div class="form-group col-sm">
            <label for="damage">Unarmed Damage</label>
            <input type="text" class="form-control form-control-sm" id="damage" aria-describedby="damage-help" value="{{ .raceInfo.Damage.DiceRoll }}">
            <small id="damage-help" class="form-text text-muted">Damage done when unarmed</small>
        </div>

        <div class="form-group col-sm">
            <label for="angrycommands">Angry Commands</label>
            <textarea class="form-control form-control-sm" id="angrycommands" aria-describedby="angrycommands-help">{{ join .raceInfo.AngryCommands "\r\n" }}</textarea>
            <small id="angrycommands-help" class="form-text text-muted">One of these are executed at random when the mob enters combat.</small>
        </div>
    </div>


    <hr />
    <h3>Natural Buffs This Race Has</h3>

    <div class="form-group row form-check container-fluid">
        {{ $buffIds := .raceInfo.BuffIds }}
        {{range $i, $buffSpec := .buffSpecs}}
            <label class="form-check-label col-md-2" for="worn-buff-{{$buffSpec.BuffId}}" title="{{ $buffSpec.Description }}"><input 
            class="form-check-input"
            type="checkbox" 
            name="buffids[]" 
            id="race-buff-{{$buffSpec.BuffId}}" 
            value="{{ $buffSpec.BuffId }}" 
            {{range $j, $buffId := $buffIds}}{{if eq $buffId $buffSpec.BuffId}}CHECKED{{end}}{{end}}>
            {{ $buffSpec.BuffId }}. {{ $buffSpec.Name }}</label> 
        {{end}}
    </div>


    <hr />
    <h3>Gear Slots Disabled</h3>

    <div class="form-group row form-check container-fluid">
        {{ $disabledSlots := .raceInfo.DisabledSlots }}
        {{range $i, $slotName := .allSlotTypes}}
            <label class="form-check-label col-md-2" for="disabled-slot-{{$slotName}}" title="{{ $slotName }}"><input 
            class="form-check-input"
            type="checkbox" 
            name="disabledslots[]" 
            id="disabled-slot-{{$slotName}}" 
            value="{{ $slotName }}" 
            {{range $j, $disSlotName := $disabledSlots}}{{if eq $disSlotName $slotName}}CHECKED{{end}}{{end}}>
            {{ $slotName }}</label> 
        {{end}}
    </div>


    <hr />
    <h3>Miscellaneous</h3>
    

    <div class="row">
        <div class="form-group col-sm">
            <label for="defaultalignment">Default Alignment</label>
            <input type="text" class="form-control form-control-sm" id="unarmedname" aria-describedby="defaultalignment-help" value="{{ .raceInfo.DefaultAlignment }}">
            <small id="defaultalignment-help" class="form-text text-muted">-100(evil) to 100(good)</small>
        </div>

        <div class="form-group col-sm">
            <label for="tnlscale">Experience Scale</label>
            <input type="text" class="form-control form-control-sm" id="tnlscale" aria-describedby="tnlscale-help" value="{{ .raceInfo.TNLScale }}">
            <small id="tnlscale-help" class="form-text text-muted">Scale applied to each level requirement (1.0 = 100%)</small>
        </div>
    </div>

    <!-- <hr />
    <button type="submit" class="btn btn-primary">Submit</button> -->
</form>