The <ansi fg="command">mob</ansi> command can be used in the following ways:

<ansi fg="command">mob create</ansi>
Asks a series of questions and then creates a new mob type and writes the file
to the appropraite folder.

