{{- $displayed := 0 -}}
{{- $itemCt := len . -}}
<ansi fg="white">On the Ground: </ansi>
{{- if ne $itemCt 0 -}}
    {{- range $index, $itemName := . -}}
        {{- $displayed = add $displayed 1 -}}
        <ansi fg="item">{{ $itemName }}</ansi>{{- if ne $displayed $itemCt }}{{- if ne $displayed (sub $itemCt 1) }}, {{ else }} and {{ end }}{{ end -}}
    {{- end }}
{{ else -}}
Nothing
{{ end }}
