{{template "header" .}}

                <div class="container-fluid">

                    <div class="row mt-5">
                        <h3>Filter by Category</h3>

                        <a href="/admin/items/?filter-type=*" class="{{ if eq .FilterType "*" }}link-dark{{end}} col-md-2 mr-1 mb-1">All</a>
                        {{$filterType := .FilterType}}
                        {{range $index, $tInfo := .ItemTypes}}<a href="/admin/items/?filter-type={{$tInfo.Type}}" class="{{ if eq $filterType $tInfo.Type }}link-dark{{end}} col-md-2 mr-1 mb-1">{{$tInfo.Type}} ({{$tInfo.Count}})</a>{{end}}
                    </div>

                    <div class="w-50 form-group mt-5">
                        <h3>Select an Item <small>({{ len .ItemSpecs }} found)</small></h3>

                        <select class="form-control selectpicker" 
                            name="itemid" id="itemid"  
                            data-live-search="true"
                            hx-get="/admin/items/itemdata" 
                            hx-target="#itemdata-edit" 
                            hx-trigger="change" >
                            <option value="">Select an Item to View</option>
                            <option value="0">Add New Item</option>
                            {{$lastItemType := ""}}
                            {{range $index, $itemspec := .ItemSpecs}}
                                {{ if ne ($itemspec.ItemFolder true) $lastItemType }}
                                <option data-divider="true">Divider</option>
                                {{$lastItemType = ($itemspec.ItemFolder true) }}
                                {{ end }}
                                <option data-content="<span class='badge badge-secondary'>{{ $itemspec.ItemId }}</span> {{ if ne $itemspec.QuestToken "" }}<span class='text-warning'>&#x2605;</span> {{end}}<span class='font-weight-bold'>{{ $itemspec.Name }}</span>{{ if $itemspec.Cursed }} <span class='badge badge-pill badge-danger'>Cursed</span>{{ end }}{{ if ne $itemspec.GetScript "" }} <span class='badge badge-pill badge-info'>Script</span>{{end}}" value="{{ $itemspec.ItemId }}">{{ rpad 7 $itemspec.ItemId "&nbsp;&nbsp;" }} {{ $itemspec.Name }}</option>
                            {{end}}
                        </select>
                    </div>
                </div>

                <div class="container-fluid" id="itemdata-edit"></div>

{{template "footer" .}}
