<form>

    <input type="hidden" name="itemid" value="{{ .itemSpec.ItemId }}">

    <hr />
    <h3>Appearance</h3>

    <div class="row">
        <div class="form-group col-sm">
            <label for="name">Name</label>
            <input type="text" class="form-control form-control-sm" id="name" aria-describedby="name-help" value="{{ .itemSpec.Name }}">
            <small id="name-help" class="form-text text-muted">What is this called?</small>
        </div>

        <div class="form-group col-sm">
            <label for="displayname">Display Name</label>
            <input type="text" class="form-control form-control-sm" id="displayname" aria-describedby="displayname-help" value="{{ .itemSpec.DisplayName }}">
            <small id="displayname-help" class="form-text text-muted">Specially formatted display name (or formatted string class)</small>
        </div>

        <div class="form-group col-sm">
            <label for="namesimple">Simple Name</label>
            <input type="text" class="form-control form-control-sm" id="namesimple" aria-describedby="namesimple-help" value="{{ .itemSpec.NameSimple }}">
            <small id="namesimple-help" class="form-text text-muted">Optional less descriptive name.</small>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-sm">
            <label for="description">Description</label>
            <textarea class="form-control form-control-sm" id="description" aria-describedby="description-help">{{ .itemSpec.Description }}</textarea>
            <small id="description-help" class="form-text text-muted">What players see when looking at it.</small>
        </div>
    </div>

    <hr />
    <h3>Category</h3>

    <div class="row">

        <div class="form-group col-sm">
            <label for="type">Type</label>
            <select class="form-control form-control-sm" name="type" id="type" aria-describedby="type-help"  rows="10">
            {{$itemType := .itemSpec.Type}}
            {{range $index, $typeInfo := .itemTypes}}
                <option value="{{ $typeInfo.Type }}" {{if eq $typeInfo.Type $itemType}}SELECTED{{end}}>{{ rpad 15 $typeInfo.Type "&nbsp;&nbsp;" }} {{ $typeInfo.Description }}</option>
            {{end}}
            </select>
            <small id="type-help" class="form-text text-muted">What type of item is this?</small>
        </div>

        <div class="form-group col-sm">
            <label for="subtype">Subtype</label>
            <select class="form-control form-control-sm" name="subtype" id="subtype" aria-describedby="subtype-help"  rows="10">
            {{$itemSubtype := .itemSpec.Subtype}}
            {{range $index, $typeInfo := .itemSubtypes}}
                <option value="{{ $typeInfo.Type }}" {{if eq $typeInfo.Type $itemSubtype}}SELECTED{{end}}>{{ rpad 15 $typeInfo.Type "&nbsp;&nbsp;" }} {{ $typeInfo.Description }}</option>
            {{end}}
            </select>
            <small id="subtype-help" class="form-text text-muted">What subtype of item is this?</small>
        </div>
    </div>

    <hr />
    <h3>Miscellaneous</h3>

    <div class="row">
        <div class="form-group col-sm">
            <label for="value">Value</label>
            <input type="text" class="form-control form-control-sm" id="value" aria-describedby="value-help" value="{{ .itemSpec.Value }}">
            <small id="value-help" class="form-text text-muted">This is automatically calculated if left empty.</small>
        </div>

        <div class="form-group col-sm" data-applies-to-types="drink eat lockpicks use">
            <label for="uses">Uses</label>
            <input type="text" class="form-control form-control-sm" id="uses" aria-describedby="uses-help" value="{{ .itemSpec.Uses }}">
            <small id="uses-help" class="form-text text-muted">How many times this object can be used.</small>
        </div>

        <div class="form-group col-sm">
            <label for="questtoken">Quest Token</label>
            <input type="text" class="form-control form-control-sm" id="questtoken" aria-describedby="questtoken-help" value="{{ .itemSpec.QuestToken }}">
            <small id="questtoken-help" class="form-text text-muted">Quest token given to the player when acquired.</small>
        </div>
    </div>


    <div class="row">
        <div class="form-group col-sm" data-applies-to-types="key">
            <label for="keylockid">Key LockId</label>
            <input type="text" class="form-control form-control-sm" id="keylockid" aria-describedby="keylockid-help" value="{{ .itemSpec.KeyLockId }}">
            <small id="keylockid-help" class="form-text text-muted">Is this a key to a container or door?</small>
        </div>

        <div class="form-check form-group col-sm" data-applies-to-types="weapon wearable">
            <label class="form-check-label col-md-2" for="cursed">Cursed</label> 
            <input name="cursed" 
                class="form-check-input"
                type="checkbox" 
                id="cursed" 
                value="true" 
                {{ if .itemSpec.Cursed }}CHECKED{{end}}>
            <small id="cursed-help" class="form-text text-muted">Is this item cursed?</small>
        </div>
    </div>

    <hr data-applies-to-types="weapon wearable" />
    <h3 data-applies-to-types="weapon wearable">Weapons and Armor</h3>
    
    <div class="row" data-applies-to-types="weapon">
        <div class="form-group col-sm">
            <label for="damage">Damage</label>
            <input type="text" class="form-control form-control-sm" id="damage" aria-describedby="damage-help" value="{{ .itemSpec.Damage.DiceRoll }}">
            <small id="damage-help" class="form-text text-muted">What damage does this do when wielded?</small>
        </div>

        <div class="form-group col-sm">
            <label for="waitrounds">Extra WaitRounds</label>
            <input type="text" class="form-control form-control-sm" id="waitrounds" aria-describedby="waitrounds-help" value="{{ .itemSpec.WaitRounds }}">
            <small id="waitrounds-help" class="form-text text-muted">How much extra time does this take between rounds?</small>
        </div>

        <div class="form-group col-sm">
            <label for="hands">Hands Required</label>
            <input type="text" class="form-control form-control-sm" id="hands" aria-describedby="hands-help" value="{{ .itemSpec.Hands }}">
            <small id="hands-help" class="form-text text-muted">How many hands does this occupy when being wielded?</small>
        </div>
    </div>

    <div class="row" data-applies-to-types="weapon wearable">
        <div class="form-group col-sm">
            <label for="damagereduction">Damage Reduction</label>
            <input type="text" class="form-control form-control-sm" id="damagereduction" aria-describedby="damagereduction-help" value="{{ .itemSpec.DamageReduction }}">
            <small id="damagereduction-help" class="form-text text-muted">How much damage can this reduce if worn? <small class="alert-danger" data-applies-to-types="offhand">Offhand items with damage reduction are considered shields.</small></small>
        </div>

        <div class="form-group col-sm" data-applies-to-types="weapon wearable">
            <label for="breakchance">Chance to Break</label>
            <input type="text" class="form-control form-control-sm" id="breakchance" aria-describedby="breakchance-help" value="{{ .itemSpec.BreakChance }}">
            <small id="breakchance-help" class="form-text text-muted">Chance (0-100) to break when player is hit?</small>
        </div>
    </div>

    <hr data-applies-to-types="weapon wearable" />
    <h3 data-applies-to-types="weapon wearable">StatMods</h3>
    <div class="row" data-applies-to-types="weapon wearable">
       
        {{range $name, $value := .itemSpec.StatMods }}
            <div class="input-group col-md-2">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="statmod-{{$name}}">{{$name}}</span>
                </div>
                <input type="text" name="statmod[{{$name}}]" class="form-control" value="{{$value}}">
            </div>
        {{end}}

    </div>

    <hr data-applies-to-types="weapon" />
    <h3 data-applies-to-types="weapon">Buffs Applied on Crit</h3>

    <div class="form-group row form-check container-fluid" data-applies-to-types="weapon">
        {{ $buffIds := .itemSpec.Damage.CritBuffIds }}
        {{range $i, $buffSpec := .buffSpecs}}
            <label class="form-check-label col-md-2" for="critbuffids-{{$buffSpec.BuffId}}" title="{{ $buffSpec.Description }}"><input 
            class="form-check-input"
            type="checkbox" 
            name="critbuffids[]" 
            id="critbuffids-{{$buffSpec.BuffId}}" 
            value="{{ $buffSpec.BuffId }}" 
            {{range $j, $buffId := $buffIds}}{{if eq $buffId $buffSpec.BuffId}}CHECKED{{end}}{{end}}>
            {{ $buffSpec.BuffId }}. {{ $buffSpec.Name }}</label> 
        {{end}}
    </div>

    <hr data-applies-to-types="edible drinkable usable" />
    <h3 data-applies-to-types="edible drinkable usable">Buffs Applied on eat/drink/use</h3>

    <div class="form-group row form-check container-fluid" data-applies-to-types="edible drinkable usable">
        {{ $buffIds := .itemSpec.BuffIds }}
        {{range $i, $buffSpec := .buffSpecs}}
            <label class="form-check-label col-md-2" for="buff-{{$buffSpec.BuffId}}" title="{{ $buffSpec.Description }}"><input 
            class="form-check-input"
            type="checkbox" 
            name="buffids[]" 
            id="buff-{{$buffSpec.BuffId}}" 
            value="{{ $buffSpec.BuffId }}" 
            {{range $j, $buffId := $buffIds}}{{if eq $buffId $buffSpec.BuffId}}CHECKED{{end}}{{end}}>
            {{ $buffSpec.BuffId }}. {{ $buffSpec.Name }}</label> 
        {{end}}
    </div>

    <hr data-applies-to-types="weapon wearable" />
    <h3 data-applies-to-types="weapon wearable">Buffs Applied While Worn</h3>

    <div class="form-group row form-check container-fluid" data-applies-to-types="weapon wearable">
        {{ $buffIds := .itemSpec.WornBuffIds }}
        {{range $i, $buffSpec := .buffSpecs}}
            <label class="form-check-label col-md-2" for="worn-buff-{{$buffSpec.BuffId}}" title="{{ $buffSpec.Description }}"><input 
            class="form-check-input"
            type="checkbox" 
            name="wornbuffids[]" 
            id="worn-buff-{{$buffSpec.BuffId}}" 
            value="{{ $buffSpec.BuffId }}" 
            {{range $j, $buffId := $buffIds}}{{if eq $buffId $buffSpec.BuffId}}CHECKED{{end}}{{end}}>
            {{ $buffSpec.BuffId }}. {{ $buffSpec.Name }}</label> 
        {{end}}
    </div>

    <hr />
    <h3>Scriping</h3>

    <div class="row">
        <div class="form-group col-sm">
            <label for="script">Script</label>
            <textarea class="form-control form-control-sm" id="script" aria-describedby="script-help">{{ .script }}</textarea>
            <small id="script-help" class="form-text text-muted">Custom script events for the item.</small>
        </div>
    </div>

    <!-- <hr />
    <button type="submit" class="btn btn-primary">Submit</button> -->
</form>