<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for</ansi> Drawing Charset test

<ansi fg="yellow">Box Test: </ansi>
 1)+-++  2)┌─┬┐  3)╒═╤╕  4)╓─╥╖  5)╔═╦╗  
   | ||    │ ││    │ ││    ║ ║║    ║ ║║
   +-++    ├─┼┤    ╞═╪╡    ╟─╫╢    ╠═╬╣
   +-++    └─┴┘    ╘═╧╛    ╙─╨╜    ╚═╩╝

<ansi fg="yellow">Block Test: </ansi>
 1)▄▄▄▄▄  2)░░░  3)▒▒▒  4)▓▓▓
   ▌ █ ▐    ░ ░    ▒ ▒    ▓ ▓
   ▀▀▀▀▀    ░░░    ▒▒▒    ▓▓▓

<ansi fg="yellow">Specific Characters Test: </ansi>

  1)§   2)«   3)»   4)¤   5)×   6)ø   7)+   8)☠   9)☺ 
 10)♚  11)♥  12)♦  13)⚑  14)⚒  15)⚔  16)⚘  17)⚙  18)☹  
 19)⚰  20)λ  21)★  22)♨  23)⚛  24)⚠  25)⚭  26)☣  27)☘
 28)♣  29)•  30)Ʌ  31)☇  32)Δ  33)Θ  34)ϟ  35)ж  36)҉
 37)ೱ  38)☍  39)⚔  40)⚕  41)⚘  42)⦿  43)⦾  44)⩕  45)⩬
 46)⬨  47)⬧  48)⬯  49)⬮  50)꠪  51)꠫  52)Ø   53)  54)🔑
 

<ansi fg="yellow">Dice Test: </ansi>

 ⚀ ⚁ ⚂ ⚃ ⚄ ⚅


