<ansi fg="black" bold="true">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="command">consider</ansi>

The <ansi fg="command">consider</ansi> command tries to determine if an enemy is a good match.

<ansi fg="yellow">Usage: </ansi>

  <ansi fg="command">consider goblin</ansi>
  You will receive a range of results, from YOU WILL DIE! to Very Favorable.

