<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="command">drink</ansi>

The <ansi fg="command">drink</ansi> command drinks an item you carry (if it is drinkable).

<ansi fg="yellow">Usage: </ansi>

  <ansi fg="command">drink potion</ansi>
  This would drink your potion.

Find out more about referring to items by name by typing <ansi fg="command">help item-names</ansi>.

