<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="command">explorer</ansi>

Explorers hav 3 skills assigned to it and is one of the jobs available to 
players.  The following skills are available to Explorers:

-Map
-Portal
-Scribe


<ansi fg="magenta-bold">See also:</ansi> <ansi fg="command">help jobs</ansi>
