<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="command">flee</ansi>

The <ansi fg="command">flee</ansi> command attempts to run away from combat into another area.

If successful, foes will not chase you. You must escape every foe attacking you, however.

The chance of success is <ansi fg="red">fleeSpeed / (fleeSpeed+attackerSpeed) * 40</ansi>

