<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="command">give</ansi>

The <ansi fg="command">look</ansi> command gives an object to another player or mob.

<ansi fg="yellow">Usage: </ansi>

  <ansi fg="command">give sword sam</ansi>
  This gives your sword to sam.

  <ansi fg="command">give 30 gold sam</ansi>
  This gives 30 gold to sam.

