<ansi fg="black" bold="true">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="command">go</ansi>

The <ansi fg="command">go</ansi> command is used to travel from are to area.

Typing <ansi fg="command">go</ansi> is unnecessary though, you can just type the exit name.

<ansi fg="yellow">Usage: </ansi>

  <ansi fg="command">go north</ansi>
  This is identical to typing <ansi fg="command">north</ansi> by itself to exit the room.

