<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="command">health</ansi>

The <ansi fg="command">health</ansi> (Hitpoints/HP) stat represents how much damage you can take.

At <ansi fg="red">0 HP</ansi>, you will drop to the floor and slowly bleed out.

At <ansi fg="red">-10 HP</ansi>, you will die. When you die, all gear you posess drops to the ground.

Health is calculated based on: 
 - Level
 - Vitality * 4
 
Plus some bonuses every so many levels.

