<ansi fg="black" bold="true">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="command">inventory</ansi>

The <ansi fg="command">inventory</ansi> command gives you a summary of your characters equipment.

