<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="command">jobs</ansi>

The <ansi fg="command">jobs</ansi> command lists suggested jobs and your progress towards them. 

<ansi fg="yellow">Usage: </ansi>

  <ansi fg="command">jobs</ansi>

<ansi fg="red">Note:</ansi> Jobs are nothing more than labels describe areas you've trained a lot in.

