<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="command">killstats</ansi>

The <ansi fg="command">killstats</ansi> tells you your stats for all the different mobs you've killed, and your kill/death ratio.

The <ansi fg="command">killstats race</ansi> tells you the same information, broken down by mob race.

