<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="command">list</ansi>

The <ansi fg="command">list</ansi> command lists items for sale at any merchants you are visiting. Some merchants
may even offer help for hire!

<ansi fg="yellow">Usage: </ansi>

  <ansi fg="command">list</ansi>
  This would list whatever the merchant is carrying.

Find out more about referring to items by name by typing <ansi fg="command">help item-names</ansi>.

