<ansi fg="black" bold="true">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="command">offer</ansi>

The <ansi fg="command">offer</ansi> asks a merchant what they are willing to pay for an item.

<ansi fg="yellow">Usage: </ansi>

  <ansi fg="command">offer sword</ansi>
  The merchant will tell you what he will pay for it, if anything.

Find out more about referring to items by name by typing <ansi fg="command">help item-names</ansi>.

