<ansi fg="black" bold="true">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="command">perception</ansi>

The <ansi fg="command">perception</ansi> stat measures your overall awareness to situations and attention to detail.

<ansi fg="yellow">Usage: </ansi>

Besides various skils that use perception, here are some other general uses for it:

* Enemy groups remain hostile for <ansi fg="red">(24 rounds)-DefenderPerception</ansi>
* Unarmed combat gains 1 bonus damage for every 25 perception

