<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Additional help for </ansi><ansi fg="command">ranger</ansi>

Rangers have 3 skills assigned to it and is one of the jobs available to 
players.  The following skills are available to Rangers:

-Map
-Search
-Track


<ansi fg="magenta-bold">See also:</ansi> <ansi fg="command">help job</ansi>