<ansi fg="black" bold="true">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="command">sell</ansi>

The <ansi fg="command">sell</ansi> sells an item to merchants you are visiting.

<ansi fg="yellow">Usage: </ansi>

  <ansi fg="command">sell sword</ansi>
  This would sell a sword, the merchant wants it and has the gold.

Find out more about referring to items by name by typing <ansi fg="command">help item-names</ansi>.

