<ansi fg="black" bold="true">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="command">share</ansi>

The <ansi fg="command">share</ansi> command shares wealth with your party

<ansi fg="yellow">Usage: </ansi>

  <ansi fg="command">share [amt] gold</ansi>
  This will split the [amt] of gold you specify amongst everyone in the party.
