<ansi fg="black" bold="true">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="command">shoot</ansi>

The <ansi fg="command">shoot</ansi> command fires a weapon into an adjacent room. 

<ansi fg="yellow">Usage: </ansi>

  <ansi fg="command">shoot [target] [exit]</ansi>
  This shoots at the target specified in the direction specified.

  <ansi fg="red">Note:</ansi> This engages combat but will break combat if the space between you and the target
  is not closed quickly.
