<ansi fg="black" bold="true">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="command">shout</ansi>

The <ansi fg="command">shout</ansi> command shouts something to everyone in the room, and can be heard by
anyone in adjacent rooms.

Example:

    [HP:10/10 MP:10/10]: shout here I am!
    you shout, "HERE I AM!"

