<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="command">show</ansi>

The <ansi fg="command">look</ansi> command shows an object to another player or mob.

<ansi fg="yellow">Usage: </ansi>

  <ansi fg="command">show sword sam</ansi>
  This shows your sword to sam.
