<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="command">smarts</ansi>

The <ansi fg="command">smarts</ansi> stat measures your intellect.

<ansi fg="yellow">Usage: </ansi>

Besides various skils that use smarts, here are some other general uses for it:


