<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Additional help for </ansi><ansi fg="command">sorcerer</ansi>

Sorcerers have 2 skills assigned to it and is one of the jobs available to 
players.  The following skills are available to Sorcerers:

-Cast
-Enchant


<ansi fg="magenta-bold">See also:</ansi> <ansi fg="command">help job</ansi>