<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Additional help for </ansi><ansi fg="command">treasure hunter</ansi>

Treasure Hunters have 5 skills assigned to it and is one of the jobs available to 
players.  The following skills are available to Treasure Hunters:

-Map
-Search
-Peep
-Inspect
-Trading

<ansi fg="magenta-bold">See also:</ansi> <ansi fg="command">help jobs</ansi>
