<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="command">warrior</ansi>

Warrior is one of the jobs available to players, and has 5 skills areas
to train in.

The following skills are required to become a Warrior:

- <ansi fg="skill">Brawling</ansi>
- <ansi fg="skill">Dual Wield</ansi>

<ansi fg="magenta-bold">See also:</ansi> <ansi fg="command">help jobs</ansi>
