<ansi fg="black" bold="true">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="command">who</ansi>

The <ansi fg="command">who</ansi> command tells you who is in the room with you (That you are aware of)

