<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="command">ask</ansi>

The <ansi fg="command">ask</ansi> command asks mobs/NPC's questions. This is useful
for getting information about quests, or when you have a hired mercenary, to give them commands.

<ansi fg="yellow">Usage: </ansi>

  <ansi fg="command">ask quest</ansi>
  <ansi fg="command">ask Why are you sad?</ansi>
  <ansi fg="command">ask buddy to drop sword</ansi>

