<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="command">history</ansi>

The <ansi fg="command">history</ansi> shows a list of logged events for your character.

<ansi fg="yellow">Usage: </ansi>

  <ansi fg="command">history</ansi>
  Show all history for all categories.

  <ansi fg="command">history [category name]</ansi>
  Show all history for the category name supplied, such as "experience".

