<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="command">train</ansi>

The <ansi fg="command">train</ansi> command spends Training Points (TP) at guilds and other 
training spots.

You can earn Traning Points by earning experience points through combat 
and quests, and gaining levels

Each level you train for a skill costs more Training Points than before. 

