<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="command">appraise</ansi>

The <ansi fg="command">appraise</ansi> command will pay a merchant a fee to get basic information on an item.

<ansi fg="yellow">Usage: </ansi>

  <ansi fg="command">appraise sword</ansi>
  This would be equivalent to using the <ansi fg="skill">inspect</ansi> skill.

