<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="command">bury</ansi>

The <ansi fg="command">bury</ansi> command cleans up corpses from the room.

<ansi fg="yellow">Usage: </ansi>

  <ansi fg="command">bury rat corpse</ansi>


