<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="command">buy</ansi>

The <ansi fg="command">buy</ansi> command buys an item for sale at a merchant.

<ansi fg="yellow">Usage: </ansi>

  <ansi fg="command">buy sword</ansi>
  This would a sword, if you have the gold and the merchant carries the object.

Find out more about referring to items by name by typing <ansi fg="command">help item-names</ansi>.

