<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="command">say</ansi>

The <ansi fg="command">say</ansi> command says something aloud for anyone in the room to hear.

Example:

    [HP:10/10 MP:10/10]: say hello everyone!
    you say, "hello everyone!"
    [HP:10/10 MP:10/10]:

