<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="command">set wimpy</ansi>

The <ansi fg="command">set wimpy</ansi> command allows you specify at what percentage health you will 
automatically attempt to flee.

<ansi fg="yellow">Usage: </ansi>

  <ansi fg="command">set wimpy 0</ansi>  - Disable wimpy
  <ansi fg="command">set wimpy 10</ansi> - At 10% or lower health you will flee combat.
