<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="command">sorcerer</ansi>

Sorcerer is one of the jobs available to players, and has 2 skills areas
to train in.

The following skills are required to become a Sorcerer:

- <ansi fg="skill">Cast</ansi>
- <ansi fg="skill">Enchant</ansi>

<ansi fg="magenta-bold">See also:</ansi> <ansi fg="command">help jobs</ansi>
