{{template "header" .}}

                <div class="container-fluid">

                    <div class="w-50 form-group mt-5">
                        <h3>Select a Race <small>({{ len .Races }} found)</small></h3>

                        <select class="form-control selectpicker" 
                            name="raceid" id="raceid"  
                            data-live-search="true"
                            hx-get="/admin/races/racedata" 
                            hx-target="#racedata-edit" 
                            hx-trigger="change" >
                            <option value="">Select an Race to View</option>
                            <option value="0">Add New Race</option>
                            {{range $index, $raceInfo := .Races}}
                                <option value="{{ $raceInfo.RaceId }}">{{ rpad 7 $raceInfo.RaceId "&nbsp;&nbsp;" }} {{ $raceInfo.Name }}</option>
                            {{end}}
                        </select>
                    </div>
                </div>

                <div class="container-fluid" id="racedata-edit"></div>

{{template "footer" .}}
