 ┌─ <ansi fg="black-bold">.:</ansi><ansi fg="blue">Conditions</ansi> ─────────────────────────────────────────────────────────────┐
{{ if eq (len .) 0 }}   None
{{ else }}{{ range $key, $val := . }}   <ansi fg="yellow-bold">{{ padRight 16 $val.Name }}</ansi> {{ splitstring $val.Description 58 "                    " }}{{ $tLeft := roundstotime $val.RoundsLeft }}{{ if ne $tLeft "Unlimited" }}
   {{ padLeft 16 "" }} <ansi fg="red">{{ $tLeft }} left</ansi>{{ end }}
{{ end -}}
{{- end }} └────────────────────────────────────────────────────────────────────────────┘
