 ┌─ <ansi fg="black-bold">.:</ansi><ansi fg="blue">Conditions</ansi> ─────────────────────────────────────────────────────────────┐
{{ if eq (len .) 0 }}   None
{{ else }}{{ range $key, $val := . }}   <ansi fg="yellow-bold">{{ padRight 16 $val.Name }}</ansi> {{ $val.Description }}
   {{ padLeft 16 "" }} <ansi fg="red">{{ roundstotime $val.RoundsLeft }} left</ansi>
{{ end -}}
{{- end }} └────────────────────────────────────────────────────────────────────────────┘
