 ┌─ <ansi fg="black" bold="true">.:</ansi><ansi fg="blue">Cooldowns</ansi> ──────────────────────────────────────────────────────────────┐
 {{ range $name, $cooldown := . }}  <ansi fg="yellow" bold="true">{{ padRight 24 $name }}</ansi> <ansi fg="red">{{ $cooldown }} rounds</ansi> - {{ roundstotime $cooldown }}
 {{ end -}}
 └────────────────────────────────────────────────────────────────────────────┘

