 ┌─ <ansi fg="black-bold">.:</ansi><ansi fg="blue">Quests {{ printf "( %d out of %d shown )" .QuestsFound .QuestsTotal }}</ansi> {{ repeat "─" (sub 3 (intlen (add .QuestsFound .QuestsTotal))) }}─────────────────────────────────────────┐
 {{ $nlLen := sub (len .Records) 1 }}{{ range $idx, $qInfo := .Records }}  <ansi fg="questname">{{ padRight 41 $qInfo.Name }}</ansi> <ansi fg="green">{{ $qInfo.BarFull }}</ansi><ansi fg="black-bold">{{ $qInfo.BarEmpty }}</ansi> <ansi fg="cyan-bold">{{ padRight 4 $qInfo.Completion }}</ansi>
   <ansi fg="white-bold">{{ splitstring $qInfo.Description 72 "   " }}</ansi>{{ if lt $idx $nlLen }}{{ "\n" }}{{ end }}
 {{ end -}}
 └──────────────────────────────────────────────────────────────────────────┘
 {{ if ne .QuestsFound .QuestsTotal }}<ansi fg="240">To see all quests (including completed), use <ansi fg="command">quests all</ansi></ansi>
 {{ end }}
