{{template "header" .}}

<style>
    table.leaderboard th:nth-child(1) { width:30%; }
    table.leaderboard th:nth-child(2) { width:30%; }
    table.leaderboard th:nth-child(3) { width:10%; }
    table.leaderboard th:nth-child(4) { width:30%; }
</style>

<div class="overlay">

    {{ range $idx, $lb := .leaderboards }}
    <h3>{{ $lb.Name }} Leaderboard</h3>
    <table class="leaderboard">
        <tr>
            <th>Name</th>
            <th>Class</th>
            <th>Level</th>
            <th>{{ $lb.Name }}</th>
        </tr>
        {{ range $idx, $entry := $lb.Top }}
            {{ if eq $entry.ScoreValue 0 }}
            {{ continue }}
            {{ end }}
            <tr>
                <td>{{ $entry.CharacterName }}</td>
                <td>{{ $entry.CharacterClass }}</td>
                <td>{{ $entry.Level }}</td>
                <td>{{ $entry.ScoreValue }}</td>
            </tr>
        {{ end }}
    </table>
    {{ end }}
    

</div>

{{template "footer" .}}