{{- define "header" -}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Welcome to {{ .CONFIG.Server.MudName }}</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" />
  <style>
    :root {
      /* Setting CSS var here so we can prepend WebCDNLocation */
      --background-image: url('{{ .CONFIG.FilePaths.WebCDNLocation }}/static/images/web_bg.webp') center center / cover no-repeat fixed;
    }
  </style>
  <link rel="stylesheet" href="{{ .CONFIG.FilePaths.WebCDNLocation }}/static/css/gomud.css">
  <script type="text/javascript">
    window.addEventListener("load", function(){
      const link = document.getElementById('hide-header-footer');

      // Add a click event listener
      link.addEventListener('click', function(event) {
        // Prevent the default link behavior (e.g., navigating to a new page)
        event.preventDefault();

        document.getElementsByTagName('header')[0].style.display = "none";
        document.getElementsByTagName('nav')[0].style.display = "none";
        document.getElementsByTagName('footer')[0].style.display = "none";
        if ( resizeClientIFrame ) {
          resizeClientIFrame();
        }
      });
    });
  </script>
</head>
<body>
  <header>
    <div>
      <a class="gomud-btn" href="/">{{ .CONFIG.Server.MudName }}</a>
    </div>
    <div class="nav-toggle" onclick="toggleMenu()">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </header>

  <nav>
    <div class="nav-container">
      {{ $reqPath := .REQUEST.RequestURI }}
      {{ range $name, $path := .NAV }}
        <a href="{{ $path }}" {{ if eq $reqPath $path }}class="selected"{{end}}>{{ $name }}</a>
      {{ end }}
      {{ if eq .REQUEST.RequestURI "/webclient" }}<a id="hide-header-footer" href="/webclient-pure">⛶</a>{{ end }}
    </div>
  </nav>

  <div id="content-container" class="content-container">
{{end}}
