{{template "header" .}}

    <div class="overlay">
        <h3>Users Online: </h3>

        {{if gt (len .STATS.OnlineUsers) 0 }}
        <table>
            <tr>
                <th>#</th>
                <th>Character</th>
                <th>Level</th>
                <th>Alignment</th>
                <th>Profession</th>
                <th>Time Online</th>
                <th>Permission</th>
            </tr>
            {{range $index, $uInfo := .STATS.OnlineUsers}}
            <tr>
                <td align="right">{{ add $index 1 }}.</td>
                <td align="center"><b>{{ $uInfo.CharacterName }}</b></td>
                <td align="center">{{ $uInfo.Level }}</td>
                <td align="center">{{ $uInfo.Alignment }}</td>
                <td align="center">{{ $uInfo.Profession }}</td>
                <td align="center">{{ $uInfo.OnlineTimeStr }}{{ if $uInfo.IsAFK }} (AFK){{end}}</td>
                <td align="center">{{ $uInfo.Permission }}</td>
            </tr>
            {{end}}
        </table>
        {{else}}
            None.
        {{end}}
    </div>
        <p>&nbsp;</p>

{{template "footer" .}}