{{template "header" .}}

    <div class="overlay">
        <h3>Server Config: </h3>

        <table>
            <tr>
                <th>Name</th>
                <th>Value</th>
            </tr>
            {{range $name, $value := (.CONFIG.AllConfigData "bannednames" "*startroom*" "script*"  "onlogin*" "nextroomid*" "mob*" "*port" "seed*" "folder*" "file*" "seedint" "carefulsavefiles" "lootgoblin*" "maxcpucores" "*roommessagewrapper" "logintervalroundcount" ) }}
            <tr>
                <td>{{ $name }}</td>
                <td>{{ $value }}</td>
            </tr>
            {{end}}
        </table>
    </div>
        <p>&nbsp;</p>

{{template "footer" .}}