{{template "header" .}}

<iframe id="webclient-frame" border="0" src="/webclient-pure.html"></iframe>
<script type="text/javascript">

    function resizeClientIFrame() {
        const contentContainer = document.getElementById('content-container');
        contentContainer.style.padding = "0px";

        wcIframe = document.getElementById('webclient-frame');
        // For some reason safari acts weird if we don't reset this first.
        wcIframe.width = "0px"; 
        wcIframe.height = "0px";
        // Set proper height/width
        wcIframe.width = contentContainer.offsetWidth;
        wcIframe.height = contentContainer.offsetHeight;
        
    }
    window.addEventListener("load", resizeClientIFrame);
    window.addEventListener('resize', resizeClientIFrame);
</script>
{{template "footer" .}}