
{{ $columnWidths := .ColumnWidths -}}
{{- $tableData := . }}
{{- $padding := 1 -}}
<ansi fg="black-bold">.:</ansi> <ansi fg="table-title">{{ .Title }}</ansi>
  <ansi fg="yellow-bold">╔{{ range $i, $w := $columnWidths }}{{ repeat "═" $w }}{{ repeat "═" $padding }}{{ repeat "═" $padding }}{{ if ne (sub (len $columnWidths) 1) $i }}╦{{ end }}{{ end }}╗
  {{ range $rowIndex, $row := .Rows }}
{{- range $i, $col := $row }}║<ansi fg="locksequence">{{ repeat " " $padding }}{{ $tableData.GetCell $rowIndex $i }}{{ repeat " " $padding }}</ansi>{{ end }}║
  {{ end }}╚{{ range $i, $w := $columnWidths }}{{ repeat "═" $padding }}{{ repeat "═" $w }}{{ repeat "═" $padding }}{{ if ne (sub (len $columnWidths) 1) $i }}╩{{ end }}{{ end }}╝</ansi>
