 
{{ range $idx, $itemInfo := . }}  <ansi fg="red-bold">{{ printf "%2d." (add $idx 1) }}</ansi> {{ if $itemInfo.Marked }}<ansi fg="white-bold" bg="2">{{else}}<ansi fg="yellow-bold">{{end}}{{ if $itemInfo.Marked }}*{{ printf "%-32s" $itemInfo.Name }}{{else}}{{ printf "%-33s" $itemInfo.Name }}{{end}}</ansi>{{ if eq (mod $idx 2) 1 }}{{ printf "\n" }}{{ end }}{{ end }}
