<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="command">inventory</ansi>

The <ansi fg="command">inventory</ansi> command gives you a summary of your characters equipment.

You can search for a specific object by entering its full (or partial) name:
<ansi fg="command">inventory wood</ansi> would list items with "wood" in the name.
<ansi fg="command">inventory wearable</ansi> would list all wearable items in your inventory.

