<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="command">mysticism</ansi>

The <ansi fg="command">mysticism</ansi> stat measures your magical connection to the world.

<ansi fg="yellow">Usage: </ansi>

Besides various skils that use mysticism, here are some other general uses for it:

* Mana recovery per round is affected by mysticism
* You get 2MP per point of mysticism

