<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="command">biome</ansi>

The <ansi fg="command">biome</ansi> tells you a little bit about the biome you are located in.

Different biomes have risks or benefits associated with them.

<ansi fg="yellow">Usage: </ansi>

  <ansi fg="command">biome</ansi>
