<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="command">eat</ansi>

The <ansi fg="command">eat</ansi> command eats an item you carry (if it is edible).

<ansi fg="yellow">Usage: </ansi>

  <ansi fg="command">eat sandwich</ansi>
  This would drink your sandwich.

Find out more about referring to items by name by typing <ansi fg="command">help item-names</ansi>.

