<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="command">leaderboard</ansi>

The <ansi fg="command">leaderboard</ansi> shows the rankings for several categories of all players/characters.

The leaderboards update periodically.

