<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="command">put</ansi>

The <ansi fg="command">put</ansi> command puts objects into containers.

<ansi fg="yellow">Usage: </ansi>

  <ansi fg="command">put stick in chest</ansi>
  This would put a stick you hold into the chest in the room.
  <ansi fg="command">put 10 gold into chest</ansi>
  This would put 10 gold into the chest.

