<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="command">quests</ansi>

The <ansi fg="command">quests</ansi> command shows all current and completed quests.

<ansi fg="yellow">Usage: </ansi>

  <ansi fg="command">quests</ansi>
