<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="command">ranger</ansi>

Ranger is one of the jobs available to players, and has 3 skills areas
to train in.

The following skills are required to become a Ranger:

- <ansi fg="skill">Map</ansi>
- <ansi fg="skill">Search</ansi>
- <ansi fg="skill">Track</ansi>

<ansi fg="magenta-bold">See also:</ansi> <ansi fg="command">help jobs</ansi>
