<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="command">read</ansi>

The <ansi fg="command">read</ansi> command reads notes and maps you carry.

<ansi fg="yellow">Usage: </ansi>

  <ansi fg="command">read map</ansi>
  This reads the item in your inventory and shows you was it written on it.

