<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="command">whisper</ansi>

The <ansi fg="command">whisper</ansi> sends a message to another player.

<ansi fg="yellow">Usage: </ansi>

  <ansi fg="command">whisper chuckles Hey what's up?</ansi>
  This will send a whisper to that players character anywhere in the realm.

