<ansi fg="blue-bold">*******************************************************************************</ansi>
<ansi fg="blue-bold">* * * AUCTION * AUCTION * AUCTION * AUCTION * AUCTION * AUCTION * AUCTION * * *</ansi>

    <ansi fg="username">{{ .HighestBidderName }}</ansi> has bid <ansi fg="gold">{{ .HighestBid }} gold</ansi>

<ansi fg="blue-bold">* * * AUCTION * AUCTION * AUCTION * AUCTION * AUCTION * AUCTION * AUCTION * * *</ansi>
<ansi fg="blue-bold">*******************************************************************************</ansi>

